
.idea/vcs.xml
.idea/modules.xml
*.iml
.idea/misc.xml
src/ElectricalEngineeringCalculator/__pycache__/module_info.cpython-39.pyc
.idea/misc.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
